#drawboard {
  border-width: thick;
  border-style: solid;
  background: white;
  border-color: purple;
}

.canvas {
  background-color: #ff9e2c;
  float: left;
}

.list-group {
  background-color: #FFFFFF;
  float: left;
  width: 20%;
}

.button.greyout {
  background-color: #8c8c8c;
  /*pointer-events: none;*/
  cursor: default;
}

input:focus::-webkit-input-placeholder
{
    color: transparent;
}

.BlackText{ background-color:black; color:white;  }
.RedText{ background-color:red; }
.YellowText{ background-color:yellow; }
.BlueText{ background-color:blue; }
.GreenText{ background-color:green; }
.OrangeText{ background-color:orange; }
.PurpleText{ background-color:purple; }
.WhiteText{ background-color:white; }
